* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.0em;
  background-color: #fff;
  color: #555;
}

p {
  padding: 5px 0 0 0;
  line-height: 1.7em;
  margin: auto;
}

ul {
  margin: 10px 0 0 0px;

}

ul p {
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

/*Верхняя панель*/
header {
  background: #003c66;
  height: 90px;
  font-size: 0.8em;
  margin-left: 0px;
  margin-right: -80px;
  min-width: 100px;
}

main, .logo, nav, footer {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 880px;
  padding-bottom: 40px;
}

.logo h1 {
  font: normal 250% 'century gothic', arial, sans-serif;
  margin-left: 0px;
  margin-right: 20px;
  width: 80%;
  text-align: center;
  letter-spacing: 0.1em;
  
}

.logo_text h1 a {
  padding: 10px 0 0 5px;
  color: #fff;
  text-decoration: none;
  font-family: cursive;

  
}

.logo_text p {
  font-size: 2.0em;
  padding: 60px 0 0 5px;
  color: #002a47;
  text-decoration: underline;
  width: auto;
  margin-left: 300px;
}

nav {
  width: 350px;
  height: 400px;

}

ul.menu  p a {
  color: #000;
  text-decoration: none;
  padding: 10px 0 0 0;
  font-size: 2.0em;
  margin-left: -100px;
  

}

/*Нижняя рамка*/
#footer {
  background-color: #003153;
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  width: 100%; 
  height: 10%;
  text-align: center;
}

#footer  a {
  color: #3795a5; 
  font-size: 1.2em;
  margin: 20px 0 0 20px;


}
/* CSS Mobile */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

  header {
    background-color:#4c9ec3;
    min-width: 200;
    position: fixed;
    height: 20%;
    text-align: center;
    height: 150px;
    font-size: 0.8em;
    margin-left: 0px;

  }

  body {
  
    background: : no-repeat;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed; 
    top: 0;
  }

  .logo {
    width: 100%;
  }

  .logo_text h1 a {
    text-align: center
    
  }
  
  .logo_text p {
     margin-left: -60px;
    
  }
  
  nav {
    width: 100%;
    height: 100%;
  }


   footer {
    display: none;
  }
  
  footer h3 {
    margin-left: 0px;
  }
  
  ul.menu {
    float: none;
  }

  ul.menu p a {
    padding: 0px;
    float: none;
    color: #5cf3ff;
  
  }

  .logo h1 {
    font: normal 230% 'century gothic', arial, sans-serif;
  }

  .logo p {
    font: normal 150% 'century gothic', arial, sans-serif;
    color:white;
  }
  
  ul p {
    text-align: center;
  }
  

}
