*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html{
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #ffff;
  background: #003c66;

}

header{
  font-size: 50px;
}

.container{
  min-height: 800px;
  background: url('assets/img/doc.png') center/cover no-repeat;
  text-decoration: underline;
}

.my_projects {
  display: block;
  left: 10px;
  color: #000000;

}

.my_projects a{
  color: #000000;
 
}


footer  a {
  color: #180160;

}
