*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html{
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #ffff;
  background: #003c66;
  
}

header{
  font-size: 50px;
}

.container {
  min-height: 800px;
  background: url('assets/img/doc.png') center/cover no-repeat;
}

.container  p {
  text-decoration: underline;
}

.menu {
  display: block;
  left: 10px;
  color: #000000;
}

.menu a{
  color: #00008b;
  text-decoration: none;
}


footer  a {
  color: #180160;

}
